<h1>edit <%= @task.name %></h1>

<form action="/tasks/<%= @task.id %>" method="post">
  name: <input type="text" name="name" value="<%= @task.name %>">
<br>

  info: <input type="text" name="info" value="<%= @task.info %>">
<br>

  done: <input type="text" name="done" value="<%= @task.done %>">

<br>

<label>add person to task</label>
  <select name="contact_id">
    <% @contacts.each do |contact| %>
  <option value="<%= contact.id %>"><%= contact.name %></option>
  <% end %>
</select>

<br>

  <button>submit changes</button>
  <input type="hidden" name="_method" value="put">
</form>


<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete task</button>
</form>