<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>

<form action="/tasks/<%= @task.id %>" method="post">
  <p>Task: <input type="text" name="name" value="<%= @task.name %>"></p>
  <p>Details: <input type="text" name="details" value="<%= @task.details %>"></p>
  <p>Responsible Person: <input type="text" name="person" value="<%= @task.person %>"></p>
  <p>Due Date: <input type="date" name="duedate" value="<%= @task.duedate %>"></p>
  <% if @task.status == false %>
  <p>Status: <input type="radio" name="status" value="true"><label for="status_completed">Completed</label><input type="radio" name="status" value="false" checked><label for="status_progress">In Progress</label></p>
  <% else %>
    <p>Status: Completed</p>
  <% end %>
  <input type="hidden" name="_method" value="put">
  <button>Submit</button>
</form>