<div class="well">
  <h2>Task <%= @task.id %></h2>

  <p>Task: <%= @task.name %></p>
  <p>Details: <%= @task.details %></p>
  <p>Responsible Person: <% @task.contacts.each do |contact| %>
    <li><%= contact.name %></li>
  <% end %></p>
  <p>Due Date: <%= @task.duedate %></p>
  <p>Status: <% if @task.status == false %><%= "In Progress" %><% else %><%= "Completed" %><% end %></p>

  <a href="/tasks/<%= @task.id %>/edit"><button class="btn btn-info">Edit</button></a>

  <form action="/tasks/<%= @task.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-info">Delete</button>
  </form>
</div>