<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<%= @task.name %>
<%= @task.details %>
<%= @task.person %>
<%= @task.duedate %>
<%= @task.status %>

<a href="/tasks/<%= @task.id %>/edit">Edit</a>

<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>