<h1>Task Details </h1>
<h2>Task: <%=@task.todo%></h2>
<p>Task Description: <%=@task.description%></p>
<p>Due: <%=@task.due%></p>
<% if @task.urgent %>
	<p>Urgent</p>
<%else%>
	<p>Not Urgent</p>
<%end%>




<form action = "/tasks/<%=@task.id%>/edit" method = "get">
	<input type = "hidden" name = "edit">
	<button> Edit Task </button>
</form>

<form action="/tasks/<%=@task.id%>" method="delete">
	<input type="hidden" name="_method" value="delete">
	<button> Remove Task </button>
</form>