<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <div class="row-fluid">
    <div class="span8 offset2">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
